<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Ejemplo Spring</title>
    </head>
    <body>
        <h1>Prueba!</h1>
        
        <p>Click <a th:href="@{/hello}">aqui</a></p>
    </body>
</html>